.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.862793;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.880859;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.866211;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-6.920762px;}
._3{margin-left:-3.841871px;}
._0{margin-left:-1.200584px;}
._2{width:3.304207px;}
._4{width:5.450475px;}
._d{width:6.565611px;}
._e{width:8.331672px;}
._c{width:12.139143px;}
._8{width:14.628846px;}
._5{width:19.177258px;}
._b{width:20.558426px;}
._9{width:24.584860px;}
._7{width:26.067299px;}
._6{width:36.105310px;}
._a{width:41.896599px;}
.fc4{color:rgb(0,0,0);}
.fc0{color:rgb(252,245,231);}
.fc1{color:rgb(155,72,25);}
.fc2{color:rgb(25,25,25);}
.fc3{color:rgb(0,0,1);}
.fsb{font-size:36.662760px;}
.fs6{font-size:36.662764px;}
.fsa{font-size:36.737916px;}
.fs4{font-size:36.742592px;}
.fs7{font-size:47.154680px;}
.fs5{font-size:47.257354px;}
.fs0{font-size:60.029276px;}
.fs1{font-size:72.035131px;}
.fs9{font-size:73.363610px;}
.fs3{font-size:96.046841px;}
.fs8{font-size:192.093682px;}
.fs2{font-size:344.868194px;}
.y0{bottom:0.000000px;}
.y18{bottom:16.350976px;}
.y19{bottom:26.436735px;}
.y9{bottom:48.019110px;}
.y8{bottom:65.079205px;}
.y2{bottom:90.254167px;}
.y7{bottom:91.768654px;}
.y6{bottom:108.872517px;}
.y17{bottom:132.381576px;}
.y16{bottom:157.781556px;}
.y15{bottom:183.181536px;}
.y5{bottom:203.338665px;}
.y14{bottom:208.581517px;}
.y13{bottom:233.981497px;}
.y4{bottom:236.354767px;}
.y12{bottom:259.381478px;}
.y11{bottom:284.781458px;}
.y10{bottom:310.181438px;}
.y3{bottom:310.753129px;}
.yf{bottom:335.581419px;}
.ye{bottom:360.981399px;}
.yd{bottom:386.381380px;}
.yc{bottom:411.781360px;}
.yb{bottom:437.181340px;}
.ya{bottom:466.543989px;}
.y1{bottom:514.880466px;}
.hd{height:25.456272px;}
.h8{height:25.456275px;}
.hc{height:25.508455px;}
.h6{height:25.511702px;}
.h9{height:32.441868px;}
.h7{height:32.512505px;}
.h2{height:41.416683px;}
.h3{height:49.700019px;}
.hb{height:50.473304px;}
.h5{height:66.688773px;}
.ha{height:132.533385px;}
.h4{height:237.265276px;}
.h1{height:575.999980px;}
.h0{height:576.000000px;}
.w0{width:1024.500000px;}
.x0{left:0.000000px;}
.x7{left:99.339656px;}
.x6{left:134.034443px;}
.x8{left:136.040250px;}
.x3{left:178.855219px;}
.x4{left:248.760823px;}
.x2{left:455.111057px;}
.x5{left:460.223326px;}
.x1{left:494.089083px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-9.227683pt;}
._3{margin-left:-5.122495pt;}
._0{margin-left:-1.600779pt;}
._2{width:4.405609pt;}
._4{width:7.267300pt;}
._d{width:8.754148pt;}
._e{width:11.108896pt;}
._c{width:16.185525pt;}
._8{width:19.505128pt;}
._5{width:25.569677pt;}
._b{width:27.411235pt;}
._9{width:32.779813pt;}
._7{width:34.756398pt;}
._6{width:48.140413pt;}
._a{width:55.862132pt;}
.fsb{font-size:48.883681pt;}
.fs6{font-size:48.883685pt;}
.fsa{font-size:48.983888pt;}
.fs4{font-size:48.990123pt;}
.fs7{font-size:62.872907pt;}
.fs5{font-size:63.009805pt;}
.fs0{font-size:80.039034pt;}
.fs1{font-size:96.046841pt;}
.fs9{font-size:97.818147pt;}
.fs3{font-size:128.062455pt;}
.fs8{font-size:256.124909pt;}
.fs2{font-size:459.824259pt;}
.y0{bottom:0.000000pt;}
.y18{bottom:21.801301pt;}
.y19{bottom:35.248981pt;}
.y9{bottom:64.025480pt;}
.y8{bottom:86.772273pt;}
.y2{bottom:120.338889pt;}
.y7{bottom:122.358205pt;}
.y6{bottom:145.163357pt;}
.y17{bottom:176.508768pt;}
.y16{bottom:210.375408pt;}
.y15{bottom:244.242049pt;}
.y5{bottom:271.118220pt;}
.y14{bottom:278.108689pt;}
.y13{bottom:311.975330pt;}
.y4{bottom:315.139689pt;}
.y12{bottom:345.841970pt;}
.y11{bottom:379.708611pt;}
.y10{bottom:413.575251pt;}
.y3{bottom:414.337505pt;}
.yf{bottom:447.441892pt;}
.ye{bottom:481.308532pt;}
.yd{bottom:515.175173pt;}
.yc{bottom:549.041813pt;}
.yb{bottom:582.908454pt;}
.ya{bottom:622.058652pt;}
.y1{bottom:686.507288pt;}
.hd{height:33.941696pt;}
.h8{height:33.941699pt;}
.hc{height:34.011274pt;}
.h6{height:34.015603pt;}
.h9{height:43.255823pt;}
.h7{height:43.350007pt;}
.h2{height:55.222244pt;}
.h3{height:66.266692pt;}
.hb{height:67.297739pt;}
.h5{height:88.918364pt;}
.ha{height:176.711180pt;}
.h4{height:316.353702pt;}
.h1{height:767.999973pt;}
.h0{height:768.000000pt;}
.w0{width:1366.000000pt;}
.x0{left:0.000000pt;}
.x7{left:132.452874pt;}
.x6{left:178.712591pt;}
.x8{left:181.387000pt;}
.x3{left:238.473625pt;}
.x4{left:331.681098pt;}
.x2{left:606.814742pt;}
.x5{left:613.631102pt;}
.x1{left:658.785445pt;}
}
